
// ===== 404 PAGE
// ================================================================================

.pg-404-body {
	padding: 100px 0 70px 0;
	text-align: center;
	.body {
		font: italic 20px/1 $font-serif;
	}
}


